<div id="sidebar_container">
        <div class="sidebar">
			<h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
			<h2>Description</h2>
			<p>{{@blog.description}}</p>
        </div>
        <div class="sidebar">
          <h1>Follow Me</h1>
          <p>{{> follow}}</p>
        </div>
      </div>
